<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input
        type="text"
        placeholder="Name"
        aria-label="name"
        #addMemberInput
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input
        type="text"
        placeholder="# of teams"
        aria-label="generate"
        #teamSizeInput
        (input)="onTeamSizeInput(teamSizeInput.value)"
        [value]="numbersOfTeams"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p class="error-msg">{{ errorMessage }}</p>
  </div>

  <div *ngIf="teams.length" class="teams-container">
    <app-team
      *ngFor="let team of teams; let i = index"
      [team]="team"
      [index]="i"
    ></app-team>
  </div>
</div>
